body{

    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://cs9.pikabu.ru/post_img/big/2017/11/08/8/1510143183130378295.jpg");
}
.bla{
    width: 90%;
    margin-left: 20px;
    display: flex;
    align-content: space-between;
    flex-direction: column;
}
.contactForm{
     background: rgba(255,245,215,0);
     height: 50%;
     width: 100%;
     min-width: 400px;
     max-width: 40%;
     box-shadow: 0px 0px 20px 7px #000;
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: #fff;
}
.yourName{
    display: flex;
    justify-content: space-between;
}
.yourName > input{
    width: 40%;
    height: 23px;
}
.yourEmail{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.yourEmail > input{
    width: 585px;
    height: 23px;
}
.phone{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.phone > input{
    width: 158px;
    height: 23px;
}
.selectClass{
    width: 588px;
    background: #fff;
    height: 23px;
}
.messageSubject{
    letter-spacing: -1px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.message{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.message > textarea{
    width: 583px;
    height: 80px;
}
footer > hr{
    opacity: 0.7;
    margin-top: 15px
}
footer > button{
    background-color: Transparent;
    margin-top: 10px;
    width: 590px;
    height: 35px;
    float: right;
}
