body{

    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://cs9.pikabu.ru/post_img/big/2017/11/08/8/1510143183130378295.jpg");
}
.bla{
    display: flex;
}
.bla > b{
    flex-basis: 160px;
    min-width: 160px;
    max-width: 160px;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.bla > input,textarea,select{
    flex-grow: 1;
}

input + input{
    margin-left: 20px;
}
.contactForm{
     background: rgba(255,245,215,0);
     height: 50%;
     width: 100%;
     min-width: 400px;
     max-width: 40%;
     box-shadow: 0px 0px 20px 7px #000;
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: #fff;
}
